*PANDAS DATAFRAME VERİ YAPISI*

In [5]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame([43,23,12,18,30])
df

    0
0  43
1  23
2  12
3  18
4  30

In [12]:
m=np.arange(0,9).reshape((3,3))
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [13]:
df=pd.DataFrame(m,columns=["c1","c2","c3"])
df

   c1  c2  c3
0   0   1   2
1   3   4   5
2   6   7   8

In [14]:
df.head()

   c1  c2  c3
0   0   1   2
1   3   4   5
2   6   7   8

In [16]:
df.tail(1)

   c1  c2  c3
2   6   7   8

In [17]:
df.columns=("deg1","deg2","deg3") #Kolon ismi değiştirme
df

   deg1  deg2  deg3
0     0     1     2
1     3     4     5
2     6     7     8

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [20]:
df.shape

(3, 3)

In [21]:
df.ndim

2

In [22]:
df.size

9

In [23]:
df.values

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [24]:
type(df.values) #values, np array olarak döndürülür

numpy.ndarray

In [ ]:
#Aynı şekilde listedir,arraydir,nparraydir farklı tiğlerden dataframe oluşturlabilir

In [26]:
a=np.array([123,23,45,65])

In [28]:
m=pd.DataFrame(a,columns=["c1"])
m

    c1
0  123
1   23
2   45
3   65